
<img src="logo.jpg" alt="Flowers in Chania">
<tr style="height: 35.4pt;">
<td style="width: 107.625px; border: 1pt solid windowtext; padding: 0in 5.4pt; height: 35.4pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>Employee I.D.</strong></span></p>
</td>
<td style="width: 111.625px; border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-image: initial; border-left: none; padding: 0in 5.4pt; height: 35.4pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $emp_code?></strong></span></p>
</td>
<td style="width: 120.625px; border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-image: initial; border-left: none; padding: 0in 5.4pt; height: 35.4pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>Bank Name</strong></span></p>
</td>
<td style="width: 165.625px; border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-image: initial; border-left: none; padding: 0in 5.4pt; height: 35.4pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $bank_name?></strong></span></p>
</td>
</tr>
<tr style="height: 30.9pt;">
<td style="width: 107.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 30.9pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>Employee Name</strong></span></p>
</td>
<td style="width: 111.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 30.9pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $emp_name?></strong></span></p>
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>&nbsp;</strong></span></p>
</td>
<td style="width: 120.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 30.9pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>Bank Account Number</strong></span></p>
</td>
<td style="width: 165.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 30.9pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $bank_ac_numb?></strong></span></p>
</td>
</tr>
<tr style="height: 27.75pt;">
<td style="width: 107.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 27.75pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>Designation</strong></span></p>
</td>
<td style="width: 111.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 27.75pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $desig_descri?></strong></span></p>
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>&nbsp;</strong></span></p>
</td>
<td style="width: 120.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 27.75pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>E.S.I.C. Account No.</strong></span></p>
</td>
<td style="width: 165.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 27.75pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $esi_number ?></strong></span></p>
</td>
</tr>
<tr style="height: 22.35pt;">
<td style="width: 107.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 22.35pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>Date of Joining</strong></span></p>
</td>
<td style="width: 111.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 22.35pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $joindate?></strong></span></p>
</td>
<td style="width: 120.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 22.35pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>P.F. Account No.</strong></span></p>
</td>
<td style="width: 165.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 22.35pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $pf_number?></strong></span></p>
</td>
</tr>
<tr style="height: 26.85pt;">
<td style="width: 107.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 26.85pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>No. of Working Days</strong></span></p>
</td>
<td style="width: 111.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 26.85pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $emp_tot_day_month?></strong></span></p>
</td>
<td style="width: 120.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 26.85pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>Month</strong></span></p>
</td>
<td style="width: 165.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 26.85pt;">
<p style="margin-bottom: .0001pt; line-height: normal; tab-stops: 58.6pt;"><span style="font-size: 9pt;"><strong><?php echo $year_month?></strong></span></p>
</td>
</tr>
<tr style="height: 13.45pt;">
<td style="width: 107.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 13.45pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>Leave availed during the month</strong></span></p>
</td>
<td style="width: 111.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 13.45pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>&nbsp;</strong><?php echo $emp_tot_absent ?></span></p>
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>&nbsp;</strong></span></p>
</td>
<td style="width: 120.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 13.45pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>Cumulative leave till Date</strong></span></p>
</td>
<td style="width: 165.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 13.45pt;">
<p style="margin-bottom: .0001pt; text-indent: .5in; line-height: normal;"><span style="font-size: 9pt;"><strong>&nbsp;</strong></span></p>
</td>
</tr>
</tbody>
</table>
<p><span style="font-size: 12.0pt; line-height: 115%;">&nbsp;</span></p>
<table style="border-collapse: collapse; border: none; margin-left: 6.75pt; margin-right: 6.75pt; height: 357px;" width="565">
<tbody>
<tr style="height: 22.05pt;">
<td style="width: 147.625px; border: 1pt solid windowtext; padding: 0in 5.4pt; height: 22.05pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>Earning</strong></span></p>
</td>
<td style="width: 120.625px; border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-image: initial; border-left: none; padding: 0in 5.4pt; height: 22.05pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong>Amount(Rs.)</strong></span></p>
</td>
<td style="width: 138.625px; border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-image: initial; border-left: none; padding: 0in 5.4pt; height: 22.05pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong>Deduction</strong></span></p>
</td>
<td style="width: 95.625px; border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-image: initial; border-left: none; padding: 0in 5.4pt; height: 22.05pt;">
<p style="margin-bottom: 0.0001pt; line-height: normal; text-align: left;"><span style="font-size: 9pt;"><strong>Amount (Rs.)</strong></span></p>
</td>
</tr>
<tr style="height: .3in;">
<td style="width: 147.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 0.3in;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif;">Basic</span></strong></span></p>
</td>
<td style="width: 120.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.3in;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $emp_basic_sal?></strong></span></p>
</td>
<td style="width: 138.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.3in;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif;">P.F. Contrib.</span></strong></span></p>
</td>
<td style="width: 95.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.3in;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $pf?></strong></span></p>
</td>
</tr>
<tr style="height: 22.95pt;">
<td style="width: 147.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 22.95pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif; color: black;">HRA</span></strong></span></p>
</td>
<td style="width: 120.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 22.95pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $hra?></strong></span></p>
</td>
<td style="width: 138.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 22.95pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif;">E.S.I Contrib.</span></strong></span></p>
</td>
<td style="width: 95.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 22.95pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $esi?></strong></span></p>
</td>
</tr>
<tr style="height: 15.95pt;">
<td style="width: 147.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 15.95pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif;">Convey. Allow.</span></strong></span></p>
</td>
<td style="width: 120.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 15.95pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $conv_allowance?></strong></span></p>
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong>&nbsp;</strong></span></p>
</td>
<td style="width: 138.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 15.95pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif;">Professional Tax</span></strong></span></p>
</td>
<td style="width: 95.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 15.95pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $prof_tax?></strong></span></p>
</td>
</tr>
<tr style="height: .35in;">
<td style="width: 147.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 0.35in;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif;">Edu. Allow</span></strong></span></p>
</td>
<td style="width: 120.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.35in;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $edu_allowance?></strong></span></p>
</td>
<td style="width: 138.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.35in;">
<p style="margin-bottom: .0001pt; line-height: normal; tab-stops: 81.2pt;"><span style="font-size: 9pt;"><strong>TDS</strong></span></p>
</td>
<td style="width: 95.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 0.35in;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $tds?></strong></span></p>
</td>
</tr>
<tr style="height: 26.1pt;">
<td style="width: 147.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 26.1pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif;">Upkeep Allow</span></strong></span></p>
</td>
<td style="width: 120.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 26.1pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $upkeep_allowance?></strong></span></p>
</td>
<td style="width: 138.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 26.1pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif;">Advance</span></strong></span></p>
</td>
<td style="width: 95.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 26.1pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $advance?></strong></span></p>
</td>
</tr>
<tr style="height: 26.55pt;">
<td style="width: 147.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 26.55pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif;">Spl Allow.</span></strong></span></p>
</td>
<td style="width: 120.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 26.55pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $special_allowance?></strong></span></p>
</td>
<td style="width: 138.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 26.55pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>Others</strong></span></p>
</td>
<td style="width: 95.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 26.55pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong>0</strong></span></p>
</td>
</tr>
<tr style="height: 22.05pt;">
<td style="width: 147.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt; height: 22.05pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif;">Others </span></strong></span></p>
</td>
<td style="width: 120.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 22.05pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong>0</strong></span></p>
</td>
<td style="width: 138.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 22.05pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif;">&nbsp;</span></strong></span></p>
</td>
<td style="width: 95.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt; height: 22.05pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong>&nbsp;</strong></span></p>
</td>
</tr>
<tr>
<td style="width: 147.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif;">Gross Salary</span></strong></span></p>
</td>
<td style="width: 120.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $gross_earning?></strong></span></p>
</td>
<td style="width: 138.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong>&nbsp;</strong></span></p>
</td>
<td style="width: 95.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong>&nbsp;</strong></span></p>
</td>
</tr>
<tr>
<td style="width: 147.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in 5.4pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif;">&nbsp;Reim./INCENTIVE</span></strong></span></p>
</td>
<td style="width: 120.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo $reimbursementamt?></strong></span></p>
</td>
<td style="width: 138.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt;">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 9pt;"><strong><span style="font-family: Arial, sans-serif;">Net Payable</span></strong></span></p>
</td>
<td style="width: 95.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in 5.4pt;">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 9pt;"><strong><?php echo ceil($netpayable)?></strong></span></p>
</td>
</tr>
</tbody>
</table>
<p style="margin-right: -40.5pt; tab-stops: 347.45pt;"><span style="font-size: 12.0pt; line-height: 115%;">*** Computer generated copy, no signature required</span></p>